body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    
}
.color-name{
    color: chocolate;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
width: 50%;
padding-left: 5%;

}
.half-width img{
    width: 80%;
    padding-top: 10%;
    border-radius: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}

.dream-big{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big h1{
    font-style: 700px;
}
.half-width2{
    width: 50%;
    padding-left: 5%;
    font-weight: 70%;
    
}
.half-width2 p{
   
    margin-right: 150px;
    padding: 10px;
}
.half-width2 img{
    width: 70%;
    padding: 5%;
    border-radius: 100%;
}
.link-button2{
    text-decoration: none;
    background-image: linear-gradient(rgb(179, 129, 38),rgb(71, 255, 184));
    padding: 10px 40px;
    border-radius: 5px;
    color: rgb(20, 11, 11);
    font-weight: 700px;

}
.expriance-item{
    box-shadow: 10px 10px 40px gray;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding: 10px;
    border-left: 10px solid;
    
}
.expriance-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#web-developer-expriance{
    border-left: 7px,solid;
   border-image: linear-gradient(blue,cyan); 
   border-image-slice: 1;
}
#full-stack-expriance{
    border-left: 7px,solid;
    border-image: linear-gradient(rgb(255, 0, 106),rgb(9, 255, 0)); 
    border-image-slice: 1;  
}
footer{
    text-align: center;
    background-color: gray;
    padding: 0%;
   

}